In [2]:
import pandas as pd
import random as rd

print("GIT BILAN BIRINCHI ISHIM AGAR OXSHASA")

df = pd.read_csv("pokemon_dataset.csv")

GIT BILAN BIRINCHI ISHIM AGAR OXSHASA

In [4]:
df.head()

,dex_number,name,type_01,type_02,ability_01,ability_02,hidden_ability,egg_group_01,egg_group_02,is_legendary,bio,hp,attack,defense,sp_attack,sp_defense,speed
0,#0001,Bulbasaur,Grass,Poison,Overgrow,NaN,Chlorophyll,Monster,Grass,False,Bulbasaur is a dual-type Grass/Poison Pokémon ...,45,49,49,65,65,45
1,#0002,Ivysaur,Grass,Poison,Overgrow,NaN,Chlorophyll,Monster,Grass,False,Ivysaur is a dual-type Grass/Poison Pokémon in...,60,62,63,80,80,60
2,#0003,Venusaur,Grass,Poison,Overgrow,NaN,Chlorophyll,Monster,Grass,False,Venusaur is a dual-type Grass/Poison Pokémon i...,80,82,83,100,100,80
3,#0004,Charmander,Fire,NaN,Blaze,NaN,Solar Power,Monster,Dragon,False,Charmander is a Fire-type Pokémon introduced i...,39,52,43,60,50,65
4,#0005,Charmeleon,Fire,NaN,Blaze,NaN,Solar Power,Monster,Dragon,False,Charmeleon is a Fire-type Pokémon introduced i...,58,64,58,80,65,80

In [3]:
df.describe()

,hp,attack,defense,sp_attack,sp_defense,speed
count,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000
mean,70.072195,77.380488,72.395122,69.959024,70.088780,67.127805
std,26.665218,29.723557,29.364210,29.637133,26.668189,28.654567
min,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000
25%,50.000000,55.000000,50.000000,47.000000,50.000000,45.000000
50%,67.000000,75.000000,70.000000,65.000000,65.000000,65.000000
75%,85.000000,100.000000,90.000000,90.000000,85.000000,88.000000
max,255.000000,181.000000,230.000000,173.000000,230.000000,200.000000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1025 entries, 0 to 1024
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   dex_number      1025 non-null   object
 1   name            1025 non-null   object
 2   type_01         1025 non-null   object
 3   type_02         526 non-null    object
 4   ability_01      1025 non-null   object
 5   ability_02      530 non-null    object
 6   hidden_ability  856 non-null    object
 7   egg_group_01    905 non-null    object
 8   egg_group_02    280 non-null    object
 9   is_legendary    1025 non-null   bool
 10  bio             1025 non-null   object
 11  hp              1025 non-null   int64
 12  attack          1025 non-null   int64
 13  defense         1025 non-null   int64
 14  sp_attack       1025 non-null   int64
 15  sp_defense      1025 non-null   int64
 16  speed           1025 non-null   int64
dtypes: bool(1), int64(6), object(10)
memory usage: 129.3+ KB